<?xml version="1.0"?>
<!--
    Shopix_ProductExpiration - Make product unavailable after a configured date and time
    Copyright (C) 2013 Shopix Pty Ltd (http://www.shopix.com.au)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<config>

    <modules>
        <Shopix_ProductExpiration>
            <version>1.0.0</version>
        </Shopix_ProductExpiration>
    </modules>

    <global>
        <helpers>
            <productexpiration>
                <class>Shopix_ProductExpiration_Helper</class>
            </productexpiration>
        </helpers>

        <models>
            <productexpiration>
                <class>Shopix_ProductExpiration_Model</class>
            </productexpiration>
            <cataloginventory>
                <rewrite>
                    <stock_item>Shopix_ProductExpiration_Model_CatalogInventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
        </models>

        <events>
            <catalog_product_is_salable_after>
                <observers>
                    <shopix_productexpiration_catalog_product_is_salable_after>
                        <type>singleton</type>
                        <class>Shopix_ProductExpiration_Model_Observer</class>
                        <method>catalogProductIsSalableAfter</method>
                    </shopix_productexpiration_catalog_product_is_salable_after>
                </observers>
            </catalog_product_is_salable_after>
        </events>

        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <expiry_date />
                        <expiry_time />
                    </product_attributes>
                </item>
            </quote>
        </sales>

        <resources>
            <shopix_productexpiration>
                <setup>
                    <module>Shopix_ProductExpiration</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </shopix_productexpiration>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <shopix_productexpiration>
                    <file>productexpiration.xml</file>
                </shopix_productexpiration>
            </updates>
        </layout>
    </frontend>

</config>
